.statistics {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.statList {
    display: flex;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

.item {
    width: 68px;
    height: 68px;
    border: 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    background-color: rgb(170, 62, 37);
}




.title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
}

.label {
    font-weight: 600px;
    font-size: 18px;
    color: #fff;
}

.percentage {
    font-weight: 600px;
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
}